.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 940px;
    gap: 30px;
}

.vagas li {
    border: 1px solid #EAECF0;
    border-radius: 15px;
    width: auto;
    padding: 2em;
    padding-right: 15em;
}

.vagas__titulo, .vagas_titulo {
    font-size: 1.3rem;
    font-weight: 500;
}

.vagas__titulo {
    padding-bottom: 1.5em;
    
}

.vagas__design, .vagas__desenvolvimento {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
}

.vagas__design p, .vagas__desenvolvimento p {
    display: inline;
    padding-right: 20px;
    color: var(--cor-terciaria);
    padding-bottom: 100px;
}

@media screen and (max-width: 768px){
    .vagas{
        height: auto;
    }

    .vagas li {
        padding-right: 0;
        padding: 1em;
    }
    .vagas__design, .vagas__desenvolvimento{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

}